{% extends "login_base.html" %} {% block content %}
<form
  method="POST"
  action="{{ url_for('forgot_password') }}"
  class="bg-white/30 p-6 rounded-xl shadow-md w-96 h-[20rem] flex flex-col gap-4 backdrop-blur-md justify-center items-center"
>
  {{ form.hidden_tag() }}
  <div class="flex flex-col gap-2 mb-4">
    <h2 class="text-2xl" style="font-family: 'Space Mono', monospace">
      Forgot Password
    </h2>
    <div class="label">{{ form.email.label }}</div>
    <div class="email">
      {{ form.email(size=32,
      class="shadow-[inset_6px_6px_6px_rgba(0,0,0,0.3),inset_-6px_-6px_6px_rgba(255,255,255,0.5)]
      text-black rounded-2xl h-[35px] focus:outline-none p-3") }}
    </div>
    {% for error in form.email.errors %}
    <span style="color: red">[{{ error }}]</span><br />
    {% endfor %}
  </div>
  <div class="flex justify-center items-center">
    {{ form.submit(class="bg-[#00ebc7] text-[#00214d] w-[300px] rounded-2xl
    h-[35px] shadow-md") }}
  </div>
  <div class="mt-4 text-center">
    <p>
      Back to
      <a href="{{ url_for('login') }}" class="hover:text-blue-500">Login</a>
    </p>
  </div>
</form>
{% endblock %}
